<template lang="html">
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form @submit.prevent="submit">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-border panel-custom subPanel">
                                        <div class="panel-heading panelHeaderSecondary">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="panel-title">New User: {{firstname}} {{lastname}}</h3>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="col-xs-9 pull-right text-right">
                                                            <div class="col-xs-6">
                                                                <button type="submit" class="btn btn-success editable-table-button btn-xs" :disabled="isSubmitting">
                                                                    <span v-if="isSubmitting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                                                    <span v-else>Save</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-xs-6 text-right">
                                                                <button type="button" class="btn btn-danger editable-table-button btn-xs" @click.prevent="back" aria-label="Close">Back</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">First name: <span class="text-danger">*</span></label>
                                                        <input v-model="firstname" type="text" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.firstName">
                                                            <li class="parsley-required">{{ errors.firstName[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Last name:</label>
                                                        <input v-model="lastname" type="text" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.lastName">
                                                            <li class="parsley-required">{{ errors.lastName[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Role: <span class="text-danger">*</span></label>
                                                        <v-select label="value" v-model="role" :options="genState"></v-select>
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.role_id">
                                                            <li class="parsley-required">{{ errors.role_id[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Email: <span class="text-danger">*</span></label>
                                                        <input v-model="email" type="email" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.email">
                                                            <li class="parsley-required">{{ errors.email[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Password: <span class="text-danger">*</span></label>
                                                        <input v-model="password" type="password" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.password">
                                                            <li class="parsley-required">{{ errors.password[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Phone Number: <span class="text-danger">*</span></label>
                                                        <input v-model="phoneNumber" type="number" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.phoneNumber">
                                                            <li class="parsley-required">{{ errors.phoneNumber[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'
import vSelect from "vue-select"
  export default {
      components: {vSelect},
    data () {
            return {
                genState: ['Admin', 'Normal User'],
                firstname: null,
                lastname: null,
                email: null,
                role: null,
                phoneNumber: 254,
                isSubmitting: false,
                generate: false,
                password: null,
                password_confirmation: null,
                errors: []
            }
        },
    computed: {
      ...mapGetters({
          generated_password: 'auth/password',
      })
    },
    methods: {
        ...mapActions({
            register: 'auth/register',
            getPass: 'auth/generatePassword',
            usersCount: 'auth/usersCount',
        }),
        back () {
            this.$router.push('/users')
        },
        submit () {
            this.isSubmitting = true;
            this.errors = [];
            this.register({
                payload: {
                    firstName: this.firstname,
                    lastName: this.lastname,
                    email: this.email,
                    role_id: this.role,
                    phoneNumber: this.phoneNumber,
                    password: this.password
                },
                context: this
            }).then(() => {
                this.isSubmitting = false;
                if (isEmpty(this.errors)) {
                    this.usersCount();
                    swal('Good Job!', 'User was created successfully.', 'success')
                    this.$router.push('/users')
                }
            })
        }
    }
  }
</script>
<style scoped>
    .card{
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.23);
    }
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .userphoto{
        width: 45px;
        height: 45px;
        margin: -40px 0 0 -40px;
    }
    .panel.panel-blur{
        color: #000;
        background-color: #fff;
    }
    .panelHeaderSecondary{
        border-bottom: 0 !important;
    }
    .subPanel{
        background-color: #fff !important;
        color: #000;
    }
    .headPanel{
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
    .mechanicsTable>tbody>tr>td, .mechanicsTable>thead>tr>th{
        color: #0c0c0c !important;
    }
</style>