<template>
	<tr>
		<td style="width: 20%;">{{ user.full_name }}</td>
		<td style="width: 20%;">{{user.email}}</td>
		<td class="formater" style="width: 15%;">{{user.role}}</td>
		<td class="formater" style="width: 10%;">{{user.status | state}}</td>
		<td class="formater text-right" style="width: 15%;">
			<router-link class="btn btn-success btn-xs" :to="{ name: 'user', params: { id: user.id } }"> Edit</router-link>
			<span class="btn btn-danger btn-xs"  @click.prevent="deleteThisUser(user)">Del</span>
		</td>
	</tr>
</template>

<script>
	import { mapActions } from 'vuex'
	import moment from 'moment'

	export default {
		name: 'user-table-row',
		props: ['user'],
		filters: {
			moment: function (date) {
				return moment(date).format('DD MMMM, YYYY HH:mm');
			},
			state: function (data) {
				if(data == 1){
					return "Active";
				}else if(data == 2){
					return "Account suspended";
				}
			}
		},
		methods: {
			...mapActions({
				selectUser: 'users/selectUser',
				deleteUser: 'users/deleteUser'
			}),
			selectThisUser () {
				this.selectUser(this.user)
			},
			deleteThisUser: function(user){
                var vm = this;
                  swal({
                      title: 'Delete?',
                      text: 'Delete Selected User: ' + user.full_name + '? ',
                      type: 'question',
                      showConfirmButton: true,
                      confirmButtonText: "Yes",
                      showCancelButton: true,
                      cancelButtonColor: '#E84843'
                  }).then(function() {
                      vm.deleteUser(user.id)
                      swal('Deleted!', 'User Deleted Successfully.', 'success')
                      vm.$router.replace({ name: 'users' })
                      return
                  }, function(dismiss) {
                    if (dismiss === 'cancel') {}
                  })
            },
		}
	}
</script>
<style scoped>
	ul, ol{
		text-align: left;
	}
</style>
