<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h4 class="m-t-0 m-b-20 header-title"><b>All Users</b></h4>
                                </div>
                                <div class="col-xs-6 text-center">
                                </div>
                                <div class="col-xs-3 text-right">
                                    <router-link to="/new-user" class="btn btn-purple btn-xs">New User</router-link>
                                </div>
                            </div>

                            <table class="table table-hover m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th>Name.</th>
                                        <th>Email.</th>
                                        <th>Role.</th>
                                        <th>State.</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <user-table-row v-for="user in users" :user="user" :key="user.id"></user-table-row>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
              name: null,
              email: null,
              role: null,
              password: null,
              confirm_password: null,
              errors: []
            }
        },
        computed: {
            ...mapGetters({
                users: 'users/users',
            })
        },
        methods: {
            ...mapActions({
                fetchUsers: 'users/fetchUsers',
                register: 'auth/register',
            }),
            submit () {
                this.register({
                    payload: {
                        name: this.name,
                        email: this.email,
                        role: this.role,
                        password: this.password,
                        confirm_password: this.confirm_password
                    },
                    context: this
                }).then(() => {
                    this.name = "",
                    this.email = "",
                    this.password = ""
                })
            }
        },
        mounted () {
            this.fetchUsers()
        }
    }
</script>
