<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form @submit.prevent="submit">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-border panel-custom subPanel">
                                        <div class="panel-heading panelHeaderSecondary">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="panel-title">User: {{user.firstname}} {{user.lastname}}</h3>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="col-xs-9 pull-right text-right">
                                                            <div class="col-xs-6" :hidden="partsState">
                                                                <button type="submit" class="btn btn-purple editable-table-button btn-xs" :disabled="isSubmitting">
                                                                    <span v-if="isSubmitting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                                                    <span v-else>Update</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-xs-6 text-right">
                                                                <button type="button" class="btn btn-danger editable-table-button btn-xs" @click.prevent="back" aria-label="Close">Back</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">First name: <span class="text-danger">*</span></label>
                                                        <input v-model="user.firstname" type="text" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.firstName">
                                                            <li class="parsley-required">{{ errors.firstName[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Order name:</label>
                                                        <input v-model="user.lastname" type="text" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.lastName">
                                                            <li class="parsley-required">{{ errors.lastName[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Role: <span class="text-danger">*</span></label>
                                                        <v-select label="value" v-model="user.role" :options="genState"></v-select>
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.role">
                                                            <li class="parsley-required">{{ errors.role[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Email: </label>
                                                        <input v-model="user.email" type="email" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.email">
                                                            <li class="parsley-required">{{ errors.email[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-success text-right">
                                                    Created {{ createdAt }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'
import vSelect from "vue-select"

  export default {
  	components: {vSelect},
    data () {
        return {
            genState: ['Admin', 'Normal User'],
            errors: [],
            isSubmitting: false
        }
    },
	name: 'user',
	computed: {
	  ...mapGetters({
		createdAt: 'users/createdAt',
		user: 'users/user',
	  })
	},
	methods: {
		...mapActions({
			getUser: 'users/fetchUser',
			updateUser: 'users/updateUser',
		}),
		back () {
        this.$router.push('/users')
      },
		submit () {
			this.errors = [];
			this.updateUser({
				payload: {
					id: this.user.id,
                    firstName: this.user.firstname,
                    lastName: this.user.lastname,
                    email: this.user.email,
                    role: this.user.role,
				},
				context: this
			}).then(() => {
				if (isEmpty(this.errors)) {
                    swal('Updated!', 'Account details updated successfully!.', 'success')
                    this.$router.push('/users')
                }
			})
		}
		// deleteUser
	},
    mounted () {
    	this.getUser({
			payload: {
				id: this.$route.params.id
			}
		})
    }
  }
</script>
<style scoped>
    .card{
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.23);
    }
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .userphoto{
        width: 45px;
        height: 45px;
        margin: -40px 0 0 -40px;
    }
    .panel.panel-blur{
        color: #000;
        background-color: #fff;
    }
    .panelHeaderSecondary{
        border-bottom: 0 !important;
    }
    .subPanel{
        background-color: #fff !important;
        color: #000;
    }
    .headPanel{
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
    .mechanicsTable>tbody>tr>td, .mechanicsTable>thead>tr>th{
        color: #0c0c0c !important;
    }
</style>