<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <div class="card-box p-0">
                            <div class="profile-widget text-center">
                                <div class="bg-success bg-profile"></div>
                                <img src="img/logo.jpg" class="thumb-lg img-circle img-thumbnail" alt="img">
                                <h4>{{ user.data.full_name }}</h4>
                                <p class="m-t-10 text-muted p-20">Welcome to Craft Silcon your number one solution for application</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
        }
    }
</script>