<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animated zoomIn">
                        <div class="card-box">
                            <div class="bar-widget">
                                <div class="table-box">
                                    <div class="table-detail">
                                        <div v-if="PZ1 == false" class="iconbox bg-custom point" @click.prevent="openP001">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <loading v-else></loading>
                                    </div>
                                    <div class="table-detail">
                                        <h4 class="m-t-0 m-b-5"><b>Orders made</b></h4>
                                        <h5 class="text-muted m-b-0 m-t-0">Orders made in a given period</h5>
                                    </div>
                                    <div class="table-detail text-right">
                                        <h2 class="m-0 font-600 text-right">PZ1</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 animated zoomIn">
                        <div class="card-box">
                            <div class="bar-widget">
                                <div class="table-box">
                                    <div class="table-detail">
                                        <div v-if="PZ2 == false" class="iconbox bg-danger point" @click.prevent="openP002">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <loading v-else></loading>
                                    </div>
                                    <div class="table-detail">
                                        <h4 class="m-t-0 m-b-5"><b>All Orders</b></h4>
                                        <h5 class="text-muted m-b-0 m-t-0">All Orders grouped by category</h5>
                                    </div>
                                    <div class="table-detail text-right">
                                        <h2 class="m-0 font-600 text-right">PZ2</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <modal classes="panel1 col-xs-6" name="P001" :clickToClose="false" height="auto" :adaptive="true" :pivotY="0.1">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Orders made in a given period by date</h3>
            </div>
            <div class="modal-body">
                <div class="row text-center" v-if="errors.permission"><h3 class="panel-title text-danger">{{ errors.permission }}</h3></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> 
                            <label class="control-label">Date From:</label>
                            <el-date-picker v-model="dateFrom" type="date" format="dd-MM-yyyy"></el-date-picker>
                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.dateFrom">
                                <li class="parsley-required">{{ errors.dateFrom[0] }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date to:</label>
                            <el-date-picker v-model="dateTo" type="date" format="dd-MM-yyyy"></el-date-picker>
                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.dateTo">
                                <li class="parsley-required">{{ errors.dateTo[0] }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-15">
                <div class="col-xs-4 text-center">
                    <button type="button" @click.prevent="P001pdf" class="btn btn-xs btn-success waves-effect waves-light" :disabled="isGettingPdf">
                        <span v-if="isGettingPdf"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span v-else>Generate PDF</span>
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <!-- <button type="button" @click.prevent="P001excel" class="btn btn-xs btn-purple waves-effect waves-light" :disabled="isGettingExcel">
                        <span v-if="isGettingExcel"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span v-else>Generate Excel</span>
                    </button> -->
                </div>
                <div class="col-xs-4 text-center">
                    <button @click.prevent="closeP001" type="button" class="btn btn-xs btn-danger waves-effect waves-light">Cancel</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </modal>

        <modal classes="panel1 col-xs-6" name="P002" :clickToClose="false" height="auto" :adaptive="true" :pivotY="0.1">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">All Orders made by date</h3>
            </div>
            <div class="modal-body">
                <div class="row text-center" v-if="errors.permission"><h3 class="panel-title text-danger">{{ errors.permission }}</h3></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> 
                            <label class="control-label">Date From:</label>
                            <el-date-picker v-model="dateFrom" type="date" format="dd-MM-yyyy"></el-date-picker>
                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.dateFrom">
                                <li class="parsley-required">{{ errors.dateFrom[0] }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date to:</label>
                            <el-date-picker v-model="dateTo" type="date" format="dd-MM-yyyy"></el-date-picker>
                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.dateTo">
                                <li class="parsley-required">{{ errors.dateTo[0] }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-15">
                <div class="col-xs-4 text-center">
                    <button type="button" @click.prevent="P002pdf" class="btn btn-xs btn-success waves-effect waves-light" :disabled="isGettingPdf">
                        <span v-if="isGettingPdf"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span v-else>Generate PDF</span>
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <!-- <button type="button" @click.prevent="P002excel" class="btn btn-xs btn-purple waves-effect waves-light" :disabled="isGettingExcel">
                        <span v-if="isGettingExcel"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span v-else>Generate Excel</span>
                    </button> -->
                </div>
                <div class="col-xs-4 text-center">
                    <button @click.prevent="closeP002" type="button" class="btn btn-xs btn-danger waves-effect waves-light">Cancel</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </modal>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import Bus from '../../../bus'
    export default {
        data(){
            return{
                showasset: false,
                isUpdate: false,
                isSubmitting: false,
                isGettingPdf: false,
                isGettingExcel: false,
                PZ1: false,
                PZ2: false,
                dateFrom: null,
                dateTo: null,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                hostlink: 'auth/hostlink',
                orders: 'sizes/getorders',
                size: 'sizes/getsize',
                prevpage: 'sizes/getprevPage'
            }),
        },
        methods: {
            ...mapActions({
                getP001pdf: 'reports/getP001pdf',
                getP002pdf: 'reports/getP002pdf',
            }),
            dateFormater(date){
                if (date != null && date != "") {
                    var today = new Date(date);
                    var dd = today.getDate();
                    var mm = today.getMonth()+1;
                    var yyyy = today.getFullYear();
                    var dateIssued = yyyy+'-'+mm+'-'+dd;
                    return dateIssued;
                }else {
                    return null;
                }
            },
            openP001 () {
                this.$modal.show('P001');
            },
            closeP001 () {
                this.$modal.hide('P001')
                this.dateFrom = null
                this.dateTo = null
                this.errors = []
            },
            openP002 () {
                this.$modal.show('P002');
            },
            closeP002 () {
                this.$modal.hide('P002')
                this.dateFrom = null
                this.dateTo = null
                this.errors = []
            },
            P001pdf(){
                this.isGettingPdf = true;
                this.PZ1 = true;
                this.errors = [];
                this.getP001pdf({
                    payload: {
                        dateFrom: this.dateFormater(this.dateFrom),
                        dateTo: this.dateFormater(this.dateTo)
                    },
                    context: this
                })
                .then(() => {
                    this.isGettingPdf = false;
                    if (isEmpty(this.errors)) {
                        this.$modal.hide('P001')
                        this.dateFrom = ""
                        this.dateTo = ""
                        this.errors = [];
                    }
                })
            },
            P002pdf(){
                this.isGettingPdf = true;
                this.PZ2 = true;
                this.errors = [];
                this.getP002pdf({
                    payload: {
                        dateFrom: this.dateFormater(this.dateFrom),
                        dateTo: this.dateFormater(this.dateTo)
                    },
                    context: this
                })
                .then(() => {
                    this.isGettingPdf = false;
                    if (isEmpty(this.errors)) {
                        this.$modal.hide('P002')
                        this.dateFrom = ""
                        this.dateTo = ""
                        this.errors = [];
                    }
                })
            },
        },
        mounted() {
            // var vm = this;
            // this.fetchAllallsizes({
            //     payload: {
            //         page: vm.prevpage
            //     }
            // })
            // var page = "Product sizes";
            // Bus.$emit('loaded-page', page);
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .card-footer{
        padding: 1px 1.2rem;
    }
    .panel.panel-blur{
        color: #000;
        background-color: #fff;
    }
    .panelHeaderSecondary{
        border-bottom: 0 !important;
    }
    .subPanel{
        background-color: #fff !important;
        color: #000;
    }
    .headPanel{
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
    .mechanicsTable>tbody>tr>td, .mechanicsTable>thead>tr>th{
        color: #0c0c0c !important;
    }
</style>