<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form @submit.prevent="submit">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-border panel-custom subPanel">
                                        <div class="panel-heading panelHeaderSecondary">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="panel-title">Edit Venues: {{product.venue}}</h3>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="col-xs-9 pull-right text-right">
                                                            <div class="col-xs-6" :hidden="partsState">
                                                                <button type="submit" class="btn btn-purple editable-table-button btn-xs" :disabled="isUpdating">
                                                                    <span v-if="isUpdating"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                                                    <span v-else>Update</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-xs-6 text-right">
                                                                <button type="button" class="btn btn-danger editable-table-button btn-xs" @click.prevent="back" :disabled="isUpdating" aria-label="Close">Back</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12"> 
                                                    <div class="form-group"> 
                                                        <label class="control-label">Venue: <span class="text-danger">*</span></label>
                                                        <input v-model="product.venue" type="text" class="form-control input-sm">
                                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.venue">
                                                            <li class="parsley-required">{{ errors.venue[0] }}</li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import Bus from '../../../bus'
    import moment from 'moment'
    import vSelect from "vue-select"
    export default {
        components: {vSelect},
        data(){
            return{
                isUpdating: false,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                product: 'products/getproduct',
            }),
        },
        filters: {
            moment: function(date) {
                return moment(date).format('DD MMM YYYY @ H:m');
            }
        },
        methods: {
            ...mapActions({
                getSelectEvent: 'products/getSelectEvent',
                updatSelectEvent: 'products/updatSelectEvent',
            }),
            back () {
                this.$router.replace('/products')
            },
            submit () {
                this.isUpdating = true;
                this.errors = [];
                this.updatSelectEvent({
                    payload: {
                        id: this.product.id,
                        venue: this.product.venue,
                    },
                    context: this
                })
                .then(() => {
                    this.isUpdating = false;
                    if (isEmpty(this.errors)) {
                        swal('Updated', 'Event updated successfully!', 'success')
                    }
                })
            }
        },
        mounted() {
            var vm = this;
            this.getSelectEvent({
                payload: {
                    id: this.$route.params.id
                }
            })
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .img-circle{
        border-radius: 5%;
    }
    .armada-pic{
        width: 180px;
    }
    .userphoto1{
        width: 45px;
        height: 45px;
        /* margin: -40px 0 0 -40px; */
    }
</style>
<style scoped>
    .panel.panel-blur{
        color: #000;
        background-color: #fff;
    }
    .panelHeaderSecondary{
        border-bottom: 0 !important;
    }
    .subPanel{
        background-color: #fff !important;
        color: #000;
    }
    .headPanel{
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
    .mechanicsTable>tbody>tr>td, .mechanicsTable>thead>tr>th{
        color: #0c0c0c !important;
    }
</style>