<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h4 class="m-t-0 m-b-20 header-title"><b>Venues</b></h4>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <form @submit.prevent="searchdata">
                                        <input type="text" v-on:keyup="searchQuery" v-model="search" autofocus autocomplete="off" class="form-control input-sm text-center cleanShadow" placeholder="Search by Description">
                                    </form>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <router-link to="/new-products" class="btn btn-purple btn-xs">Add venue</router-link>
                                </div>
                            </div>
                            
                            <table class="table table-hover m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th>Description.</th>
                                        <th>Created by.</th>
                                        <th>Created at.</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="odr in orders" :key="odr.id">
                                        <td class="formater" style="width: 15%;">{{odr.venue}}</td>
                                        <td v-if="odr.userdetails != null" class="formater" style="width: 15%;">{{odr.userdetails.full_name}}</td>
                                        <td class="formater" style="width: 15%;">{{odr.created_at | moment}}</td>
                                        <td class="formater text-right" style="width: 15%;">
                                            <router-link :to="{ name: 'edit-product.edit', params: { id: odr.id } }" class="btn btn-success btn-xs">Edit</router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import Bus from '../../../bus'
    import vSelect from "vue-select"
    export default {
        components: {vSelect},
        data(){
            return{
                search: null,
                isSearching:null,
                isLoading:null,
            }
        },
        computed: {
            ...mapGetters({
                orders: 'products/getorders',
                prevpage: 'products/getprevPage'
            }),
        },
        filters: {
            moment: function(date) {
                return moment(date).format('DD MMM YYYY @ H:m');
            }
        },
        methods: {
            ...mapActions({
                fetctAllorders: 'products/fetctAllorders',
                searchVenue: 'products/searchVenue',
            }),
            searchQuery(){
                if (this.search.length == 0) {
                    this.isSearching = false;
                    this.isLoading = true;
                    this.fetctAllorders({
                        payload: {
                            page: this.prevpage
                        },
                        context: this
                    }).then(() => {
                        this.isLoading = false;
                    })
                }
            },
            searchdata () {
                if (this.search.length >= 2) {
                    this.isSearching = true;
                    this.isLoading = true;
                    this.searchVenue([1, this.search])
                    .then(() => {
                        this.isLoading = false;
                        if (isEmpty(this.errors)) {
                        }
                    })
                }
            }
        },
        mounted() {
            var vm = this;
            this.fetctAllorders({
                payload: {
                    page: vm.prevpage
                }
            })
            var page = "Product";
            Bus.$emit('loaded-page', page);
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .card-footer{
        padding: 1px 1.2rem;
    }
</style>