<template>
	<div v-if="user.authenticated">
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>

                        <li class="text-muted menu-title">Navigation</li>

                        <li class="has_sub">
                            <router-link class="waves-effect" to="/promocheck">
                                <i class="ti-user"></i>
                                <span> Promo check </span>
                            </router-link>
                        </li>

                        <li class="has_sub">
                            <router-link class="waves-effect" to="/products"><i class="ti-archive"></i><span> Venues </span> </router-link>
                        </li>

                        <li class="has_sub">
                            <router-link class="waves-effect" to="/sizes"><i class="ti-archive"></i><span> Promo codes </span> </router-link>
                        </li>

                        <li class="has_sub" v-if="user.data.role_id == 1">
                            <router-link class="waves-effect" to="/users">
                                <i class="ti-user"></i>
                                <span>Users </span>
                                <span class="label label-danger pull-right">{{usrc}}</span>
                            </router-link>
                        </li>

                        </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user',
                hostlink: 'auth/hostlink',
                usrc: 'auth/getuserscount',
            }),
        }
    }
</script>