<template>
    <svg class="peity fa-spin" height="48" width="48" style="margin-bottom: -5px;">
        <path d="M 24 0 A 24 24 0 1 1 0.6017301076362322 29.340502414951548 L 4.501441756363526 28.45041867912629 A 20 20 0 1 0 24 4" fill="#7266ba"></path>
        <path d="M 0.6017301076362322 29.340502414951548 A 24 24 0 0 1 23.999999999999996 0 L 23.999999999999996 4 A 20 20 0 0 0 4.501441756363526 28.45041867912629" fill="#ebeff2"></path>
    </svg>
</template>