<template>
	<div v-if="user.authenticated">
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <router-link  class="logo" to="/">
                    <i class="fa-letter-F icon-c-logo"></i><span>SafeBoda</span>
                    </router-link>
                </div>
            </div>

            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left" @click.prevent="sideBar">
                                <i class="ion-navicon"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="dropdown">
                                <a @click="useProfileExpand" class="dropdown-toggle profile-nav" data-toggle="dropdown" aria-expanded="true">
                                    <img src="img/user.jpg" class="img-circle point" :class="{'c-admin': user.data.role_id == 1, 'c-manager': user.data.role_id == 2, 'c-normal': user.data.role_id == 3}">
                                </a>
                                <ul class="dropdown-menu" :class="{ 'openUser': showUser == true, 'closeUser': showUser == false }">
                                    <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> {{ user.data.full_name}}</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> {{ user.data.role }}</a></li>
                                    <li><a @click.prevent="signout" href="javascript:void(0)"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    export default {
        data(){
            return{
                showasset: false,
                showUser: false,
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                hostlink: 'auth/hostlink',
            }),
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            expandNewMenu(){
                if (this.showasset == false) {
                    this.showasset = true
                }else if(this.showasset == true){
                    this.showasset = false
                }
            },
            signout () {
                this.logout({
                    payload: {
                        id: this.user.data.id,
                        center: this.user.data.costcenter
                    }
                })
                .then(() => {
                    this.$router.replace({ name: 'login' })
                })
            },
            useProfileExpand: function(event) {
              var clicked = $(event.target.parentElement)
                if(clicked.parent().hasClass("open")) {
                  clicked.parent().removeClass("open")
                }   
                else if(!clicked.parent().hasClass("open")) {
                  clicked.parent().addClass("open")
                }
            },
            useNotificationExpand: function(event) {
              var clicked = $(event.target.parentElement)
                if(clicked.parent().hasClass("open")) {
                  clicked.parent().removeClass("open")
                }   
                else if(!clicked.parent().hasClass("open")) {
                  clicked.parent().addClass("open")
                }
            },
            sideBar(){
                $("#wrapper").toggleClass("enlarged");
                $("#wrapper").addClass("forced");

                if($("#wrapper").hasClass("enlarged") && $("body").hasClass("fixed-left")) {
                    $("body").removeClass("fixed-left").addClass("fixed-left-void");
                } else if(!$("#wrapper").hasClass("enlarged") && $("body").hasClass("fixed-left-void")) {
                    $("body").removeClass("fixed-left-void").addClass("fixed-left");
                }

                if($("#wrapper").hasClass("enlarged")) {
                    $(".left ul").removeAttr("style");
                } else {
                    $(".subdrop").siblings("ul:first").show();
                }
                // toggle_slimscroll(".slimscrollleft");
                $("body").trigger("resize");
            },
            rightSidemenu(){
              $('#wrapper').toggleClass('right-bar-enabled');
            }
        }
    }
</script>