<template>
	<div id="titleBar">
        <h2>{{currentPage}}</h2>
        <div id="profilePic">
            <img v-if="user.data != null" :src="hostlink + user.data.avatar">
            <img v-else :src="hostlink + '/default.png'">
        </div>
        <span class="controls activeControl" v-if="user.data != null">{{user.data.firstname}}</span>
        <span class="controls">Logout</span>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import Bus from '../bus'
    export default {
        data(){
            return{
                showasset: false,
                currentPage: null
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                hostlink: 'auth/hostlink',
            }),
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            expandNewMenu(){
                if (this.showasset == false) {
                    this.showasset = true
                }else if(this.showasset == true){
                    this.showasset = false
                }
            },
            signout () {
                this.logout({
                    payload: {
                        id: this.user.data.id,
                        center: this.user.data.costcenter
                    }
                })
                .then(() => {
                    this.$router.replace({ name: 'login' })
                })
            }
        },
        mounted() {
            Bus.$on('loaded-page', (page)=> {
                this.currentPage = page;
            })
        }
    }
</script>
