
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


// Bootstrap
@import "node_modules/font-awesome/scss/font-awesome";
// @import "node_modules/element-ui/lib/theme-default/index.css";
// Variables

// @import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/animate.css/animate";
@import "node_modules/sweetalert2/dist/sweetalert2";
@import "variables";
@import url("/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css");
@import url("/assets/plugins/switchery/dist/switchery.min.css");
@import url("/assets/plugins/select2/select2.css");

@import url("/assets/css/bootstrap.min.css");
@import url("/assets/css/core.css");
@import url("/assets/css/components.css");
@import url("/assets/css/icons.css");
@import url("/assets/css/pages.css");
@import url("/assets/css/responsive.css");
@import url("/css/app.css");
// @import url("/css/assets/css/jquery.timeentry.css");
// @import url("/assets/index.css");
@import url("/css/index.css");
@import url("/css/style.css");
// Custome CSS

@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";
@import "node_modules/sweetalert2/dist/sweetalert2";
@import "variables";
.profile-nav img {
  height: 36px;
  width: 36px;
}
//@import url("/css/assets/plugins/sweetalert/dist/sweetalert2.min.css");
// .el-date-editor.el-input {
//     width: 100% !important;
// }
// .sidebar {
// 	border-right: 1px solid #dedede !important;
// }
// .el-date-editor.el-input {
//     width: 100% !important;
// }
/*.navbar-light {
    background: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,.3);
}*/
// .card-outline-primary {
// 	box-shadow: 0 0 10px rgba(0,0,0,.3);
// }
// .now {
// 	color: #1A89DC;
// }
.userphoto{
	width: 39px !important;
	height: 39px !important;
	overflow: hidden;
	border-radius: 50%;
	border: solid 2px #ffffff;
	margin: 0 auto;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.point{
  cursor: pointer;
}
.animated{
	-webkit-animation-duration: .5s;
	animation-duration: .5s
}
.userphoto1{
	width: 39px !important;
	height: 39px !important;
	overflow: hidden;
	border-radius: 50%;
	border: solid 2px #ffffff;
	margin: 0 auto;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.v-select .selected-tag{
  color: #000 !important;
  // text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3) !important;
  // background-color: #1b9dec !important;
  // background-image: linear-gradient(to bottom, #1da7ee, #178ee9) !important;
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03) !important;
  background-repeat: repeat-x !important;
  // border: 1px solid #0073bb !important;
  border-radius: 3px !important;
  font-family: gtwalsheim, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.dropdown-menu{
    font-family: gtwalsheim, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.el-notification__title{
  line-height: 10px !important;
}
.el-tag--small{
  cursor: pointer;
}
.el-input__icon{
  line-height: 0px !important;
}
.dropdown-menu{
	max-height: 160px !important;
  z-index: 2147483647 !important;
}
.v--modal-overlay{
  background: rgba(0, 0, 0, 0.5) !important;
}
.el-date-editor.el-input{
  width: 100% !important;
}
.el-input__inner{
  border: 1px solid #e2e3e3 !important;
  height: 28px !important;
}
.panel1{
    color: #000;
    background-color: #fff !important;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}
.v-select .selected-tag{
    height: 23px !important;
    margin: 2px 1px 2px 3px !important;
    padding: 0px .2em !important;
    line-height: 20px !important;
    border: 1px solid rgba(204, 204, 204, 0) !important;
    background-color: #f0f0f0;
}
.v-select .selected-tag .close{
    font-size: 15px !important;
}
.v-select input[type=search] {
    max-width: 30% !important;
    margin-top: 3px !important;
    height: 24px !important;
}
.v-select .open-indicator:before{
  height: 8px !important;
  width: 8px !important;
  vertical-align: middle !important;
}
