<template>
<div>

	<div class="row">
		<div class="col-md-12">
			<div class="card-box">
				<div class="google-map" id="mapName"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="card-box">
				<h4 class="m-t-0 m-b-20 header-title"><b>Promo code: {{ pline.promodata.promocode }} details</b></h4>
				
				<ul class="list-unstyled transaction-list">
					<li>
						<span class="tran-text">Venue</span>
						<span class="pull-right text-muted">{{ pline.promodata.eventdetail.venue }}</span>
						<span class="clearfix"></span>
					</li>
					<li>
						<span class="tran-text">Expiry date</span>
						<span class="pull-right text-muted">{{ pline.promodata.daysleft }}</span>
						<span class="clearfix"></span>
					</li>
					<li>
						<span class="tran-text">Code status</span>
						<span class="pull-right text-muted">{{ pline.promodata.statusname }}</span>
						<span class="clearfix"></span>
					</li>
					<li>
						<span class="tran-text">Expirey date</span>
						<span class="pull-right text-muted">{{ pline.promodata.expirydate | moment}}</span>
						<span class="clearfix"></span>
					</li>
					<li>
						<span class="tran-text">Amount</span>
						<span class="pull-right text-muted">{{ pline.promodata.amount}}</span>
						<span class="clearfix"></span>
					</li>
					<li>
						<span class="tran-text">Radius</span>
						<span class="pull-right text-muted">{{ pline.promodata.radius}}</span>
						<span class="clearfix"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>

<script>
	import { mapActions } from 'vuex'
	import moment from 'moment'

	export default {
		name: 'google-map',
		props: ['pline'],
		data: function () {
			return {
				mapName: this.name + "-map",
				markerCoordinates: [{
					latitude: 51.501527,
					longitude: -0.1921837
					}, {
					latitude: 51.505874,
					longitude: -0.1838486
					}, {
					latitude: 51.4998973,
					longitude: -0.202432
				}],
				map: null,
				bounds: null,
				markers: []
			}
		},
		filters: {
			moment: function (date) {
				return moment(date).format('DD MMMM, YYYY');
			},
		},
		methods: {
			recievedata(){
				const overview_polyline = this.pline.overview_polyline.points;
				const mapCentre = this.pline.map[0];
				initialize(overview_polyline);
				function initialize(overview_polyline) {
					var myLatlng = new google.maps.LatLng(mapCentre);
					var myOptions = {
						zoom: 8,
						center: myLatlng,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					}
					var map = new google.maps.Map(document.getElementById("mapName"), myOptions);
						
					var decodedPath = google.maps.geometry.encoding.decodePath(overview_polyline); 
					var decodedLevels = decodeLevels("BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB");

					var setRegion = new google.maps.Polyline({
						path: decodedPath,
						levels: decodedLevels,
						strokeColor: "#FF0000",
						strokeOpacity: 1.0,
						strokeWeight: 2,
						map: map
					});
				}

				function decodeLevels(encodedLevelsString) {
					var decodedLevels = [];

					for (var i = 0; i < encodedLevelsString.length; ++i) {
						var level = encodedLevelsString.charCodeAt(i) - 63;
						decodedLevels.push(level);
					}
					return decodedLevels;
				}
			}
		},
		watch: {
	        pline: function() {
	            this.recievedata()
	        }
		},
		mounted: function () {
			this.recievedata()
		}
	}
</script>
<style scoped>
	.google-map {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background: gray;
	}
</style>