<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form @submit.prevent="submit">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4 class="m-t-0 m-b-20 header-title"><b>Promo Checking</b></h4>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <button type="submit" class="btn btn-purple pull-right btn-xs" :disabled="isCheking">
                                        <span v-if="isCheking"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                        <span v-else>Check</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <div class="form-group"> 
                                        <label for="field-2" class="control-label"> Origin: <span class="text-danger">*</span></label>
                                        <input type="text" v-model="origin" class="form-control input-sm">
                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.origin">
                                            <li class="parsley-required">{{ errors.origin[0] }}</li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group"> 
                                        <label for="field-2" class="control-label"> Destination: <span class="text-danger">*</span></label>
                                        <v-select :onChange="venueCallback" label="value" :options="venues"></v-select>
                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.venue">
                                            <li class="parsley-required">{{ errors.venue[0] }}</li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group"> 
                                        <label for="field-2" class="control-label"> Promo code: <span class="text-danger">*</span></label>
                                        <input type="text" v-model="promocode" class="form-control input-sm">
                                        <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.promoCode">
                                            <li class="parsley-required">{{ errors.promoCode[0] }}</li>
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <google-map v-for="pline in polyline" :pline="pline" :key="pline.id"></google-map>

            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import Bus from '../../../bus'
    import vSelect from "vue-select"
    export default {
        components: {vSelect},
        data(){
            return{
                origin: null,
                destination: null,
                promocode: null,
                isCheking: null,
                statusCode: false,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                venues: 'products/getvenuelists',
                polyline: 'promocheck/getPolyline',
            }),
        },
        methods: {
            ...mapActions({
                fetchVenueList: 'products/fetchVenueList',
                getpolyline: 'promocheck/getpolyline'
            }),
            venueCallback(dir){
                if (dir != null && dir.lable != "") {
                    this.destination = dir.value
                }
            },
            submit () {
                this.isCheking = true;
                this.statusCode = false;
                this.errors = [];
                this.getpolyline({
                    payload: {
                        origin: this.origin,
                        venue: this.destination,
                        promoCode: this.promocode
                    },
                    context: this
                })
                .then(() => {
                    this.isCheking = false;
                    if(this.statusCode) {
                        swal('Error', 'Something went wrong, please contact the System Admin..', 'error')
                    }
                    else{
                        if (isEmpty(this.errors)) {
                            this.venue = null
                            swal('Success', 'Map found!', 'success')
                        }
                    }
                })
            }
        },
        mounted() {
            this.fetchVenueList()
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .card-footer{
        padding: 1px 1.2rem;
    }
</style>