<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h4 class="m-t-0 m-b-20 header-title"><b>Promo Codes</b></h4>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <!-- <form @submit.prevent="submit">
                                        <input type="text" v-on:keyup="searchQuery" v-model="search" autofocus autocomplete="off" class="form-control input-sm text-center cleanShadow" placeholder="Search by Mobile, Names, Email, Order No. Or Location">
                                    </form> -->
                                </div>
                                <div class="col-xs-3 text-right">
                                    <div @click.prevent="addNewSize" class="btn btn-purple btn-xs">
                                        Add Codes
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th>Code.</th>
                                        <th>Price.</th>
                                        <th>Radius.</th>
                                        <th>Expiry date.</th>
                                        <th>Status.</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="odr in orders" :key="odr.id">
                                        <td style="width: 20%;">{{odr.promocode}}</td>
                                        <td class="formater" style="width: 15%;">{{odr.amount}}</td>
                                        <td class="formater" style="width: 10%;">{{ odr.radius }}</td>
                                        <td class="formater" style="width: 10%;">{{ odr.expirydate | moment }}</td>
                                        <td class="formater" style="width: 10%;">{{ odr.statusname }}</td>
                                        <td class="formater text-right" style="width: 15%;">
                                            <span class="btn btn-success btn-xs" @click.prevent="openSize(odr)">Edit</span>
                                            <span class="btn btn-custom btn-xs btn-pink" @click="deletedata(odr.id)">Del</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <modal name="add-new-size" :clickToClose="false" height="auto" :adaptive="true" :pivotY="0.1">
            <form @submit.prevent="submit">
                <div class="panel-heading clearfix">
                    <div class="col-xs-6">
                        <h3 class="panel-title">New pormo code</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6 text-righ">
                            <button type="submit" class="btn btn-success pull-right editable-table-button btn-xs" :disabled="isSubmitting">
                                <span v-if="isSubmitting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                <span v-else>Save</span>
                            </button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-danger editable-table-button btn-xs" @click.prevent="closeAdding" :disabled="isSubmitting" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Event: <span class="text-danger">*</span></label>
                                <v-select :onChange="venueCallback" label="value" :options="venues"></v-select>
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.event">
                                    <li class="parsley-required">{{ errors.event[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Price: <span class="text-danger">*</span></label>
                                <input type="number" v-model="amount" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.amount">
                                    <li class="parsley-required">{{ errors.amount[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Radius: <span class="text-danger">*</span></label>
                                <input type="text" v-model="radius" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.radius">
                                    <li class="parsley-required">{{ errors.radius[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label">Expiry date: <span class="text-danger">*</span></label>
                                <el-date-picker v-model="expirydate" type="date" format="dd-MM-yyyy"></el-date-picker>
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.expirydate">
                                    <li class="parsley-required">{{ errors.expirydate[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label">Count: <span class="text-danger">*</span></label>
                                <input type="number" v-model="count" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.count">
                                    <li class="parsley-required">{{ errors.count[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </modal>

        <modal name="edit-size" :clickToClose="false" height="auto" :adaptive="true" :pivotY="0.1">
            <form @submit.prevent="updateSize">
                <div class="panel-heading clearfix">
                    <div class="col-xs-6">
                        <h3 class="panel-title">Edit code: {{promo.promocode}}</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6 text-righ">
                            <button type="submit" class="btn btn-purple pull-right btn-xs" :disabled="isUpdate">
                                <span v-if="isUpdate"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                <span v-else>Update</span>
                            </button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-danger btn-xs" @click.prevent="closeSize" :disabled="isUpdate" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Event: <span class="text-danger">*</span></label>
                                <input type="text" v-if="promo.eventdetail != null" v-model="promo.eventdetail.venue" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.event">
                                    <li class="parsley-required">{{ errors.event[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Price: <span class="text-danger">*</span></label>
                                <input type="number" v-model="promo.amount" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.amount">
                                    <li class="parsley-required">{{ errors.amount[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label"> Radius: <span class="text-danger">*</span></label>
                                <input type="text" v-model="promo.radius" class="form-control input-sm">
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.radius">
                                    <li class="parsley-required">{{ errors.radius[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group"> 
                                <label for="field-2" class="control-label">Expiry date: <span class="text-danger">*</span></label>
                                <el-date-picker v-model="promo.expirydate" type="date" format="dd-MM-yyyy"></el-date-picker>
                                <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.expirydate">
                                    <li class="parsley-required">{{ errors.expirydate[0] }}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </modal>
    
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import Bus from '../../../bus'
    import vSelect from "vue-select"
    export default {
        components: {vSelect},
        data(){
            return{
                showasset: false,
                isUpdate: false,
                isSubmitting: false,
                event: null,
                amount: null,
                radius: null,
                expirydate: null,
                count: null,
                errors: [],
                newData: []
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                venues: 'products/getvenuelists',
                orders: 'sizes/getorders',
                promo: 'sizes/getpromo',
                prevpage: 'sizes/getprevPage'
            }),
        },
        filters: {
            moment: function(date) {
                return moment(date).format('DD MMM YYYY');
            }
        },
        methods: {
            ...mapActions({
                fetchVenueList: 'products/fetchVenueList',
                fetchAllallpromocodes: 'sizes/fetchAllallpromocodes',
                selectedPromo: 'sizes/selectedPromo',
                addPromoCode: 'sizes/addPromoCode',
                updatSelectPromo: 'sizes/updatSelectPromo',
            }),
            venueCallback(dir){
                if (dir != null && dir.lable != "") {
                    this.event = dir.lable
                }
            },
            addNewSize () {
                this.errors = [];
                this.$modal.show('add-new-size');
            },
            closeAdding () {
                this.errors = [];
                this.$modal.hide('add-new-size');
            },
            openSize (mk) {
                this.selectedPromo(mk)
                this.$modal.show('edit-size');
            },
            closeSize () {
                this.errors = [];
                this.$modal.hide('edit-size');
            },
            dateFormater(date){
                if (date != null && date != "") {
                    var today = new Date(date);
                    var dd = today.getDate();
                    var mm = today.getMonth()+1;
                    var yyyy = today.getFullYear();
                    var dateIssued = yyyy+'-'+mm+'-'+dd;
                    return dateIssued;
                }else {
                    return null;
                }
            },
            submit () {
                this.isSubmitting = true;
                this.errors = [];
                this.addPromoCode({
                    payload: {
                        event: this.event,
                        amount: this.amount,
                        radius: this.radius,
                        expirydate: this.dateFormater(this.expirydate),
                        count: this.count,
                    },
                    context: this
                })
                .then(() => {
                    this.isSubmitting = false;
                    if (isEmpty(this.errors)) {
                        // this.orders.unshift(this.newData)
                        this.$modal.hide('add-new-size');
                        swal('Added', 'Code added successfully!', 'success')
                    }
                })
            },
            updateSize(){
                this.isUpdating = true;
                this.errors = [];
                this.updatSelectPromo({
                    payload: {
                        id: this.promo.id,
                        amount: this.promo.amount,
                        radius: this.promo.radius,
                        expirydate: this.dateFormater(this.promo.expirydate),
                    },
                    context: this
                })
                .then(() => {
                    this.isUpdating = false;
                    if (isEmpty(this.errors)) {
                        this.$modal.hide('edit-size')
                        swal('Updated', 'Code updated successfully!', 'success')
                    }
                })
            }
        },
        mounted() {
            var vm = this;
            this.fetchAllallpromocodes({
                payload: {
                    page: vm.prevpage
                }
            })
            this.fetchVenueList()
            var page = "Product sizes";
            Bus.$emit('loaded-page', page);
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .card-footer{
        padding: 1px 1.2rem;
    }
</style>