<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <div class="card-box p-0">
                            <div class="profile-widget text-center">
                                <div class="bg-danger bg-profile"></div>
                                <img src="img/logo.jpg" class="thumb-lg img-circle img-thumbnail" alt="img">
                                <div class="text-error" style="font-size: 3em; font-weight: 500;">
                                    <span class="text-primary">4</span>
                                    <i class="ti-face-sad text-pink"></i>
                                    <span class="text-info">4</span>
                                </div>
                                <h4>{{ user.data.full_name }}</h4>
                                <router-link class="btn btn-sm btn-purple m-t-20" to="/">Get back home</router-link>
                                <p class="m-t-10 text-muted p-20">The page you are looking for does not exist or an error occured.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { isEmpty } from 'lodash'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
        }
    }
</script>
<style scoped>
    .card-black{
        border-radius: 10px;
        background: #242424;
        margin-top: -11px;
    }
    .title-header{
        text-transform: none;
    }
</style>
