<template>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 animated zoomIn">
                        <div class="panel panel-blur" style="padding: 15px;">

                            <div class="row">
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-pink btn-custom btn-xs waves-effect waves-light" @click.prevent="prev" :disabled="isGetting">
                                        <span v-if="isGetting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                        <span v-else><i class="fa fa-chevron-left"></i></span>
                                    </button>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h4 class="header-title m-t-3 text-pink point" @click.prevent="now">ORDER COST ANALYSIS</h4>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <button type="button" class="btn btn-pink btn-custom btn-xs waves-effect waves-light" @click.prevent="next" :disabled="isGetting">
                                        <span v-if="isGetting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                        <span v-else><i class="fa fa-chevron-right"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" v-if="isLoading">
                                <div class="col-md-12">
                                    <div class="col-lg-4 col-lg-offset-4">
                                        <div class="animationContainer">
                                            <div class="contentRotate">
                                            <div class="outerCircle"></div>
                                            <div class="innerCircle"></div>
                                            </div>
                                        </div>
                                        <h5 class="text-success m-t-20 text-center">Please wait</h5>
                                        <h2 class="font-600 text-center text-success">Loading..</h2>
                                    </div>
                                </div>
                            </div>
                            <order-cost v-else v-for="chart in salesdata" :chart="chart" :key="chart.id"></order-cost>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import OrderCost from '../../../components/graphs/Fuel'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import Bus from '../../../bus'
    export default {
        components: { OrderCost },
        data(){
            return{
                isGetting: false,
                isLoading: false,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                date: 'dashboard/getWeekDate',
                hostlink: 'auth/hostlink',
                salesdata: 'dashboard/getsalesdata'
            }),
        },
        watch: {
            date: function() {
                this.isGetting = true;
                this.isLoading = true;
                this.fetchFuelData({
                    payload: {
                        date: this.dateFormater(this.date)
                    },
                    context: this
                })
                .then(() => {
                    this.isGetting = false;
                    if (isEmpty(this.errors)) {
                        this.isLoading = false;
                    }
                })
            },
        },
        methods: {
            ...mapActions({
                fetchFuelData: 'dashboard/fetchFuelData',
                changeDate: 'dashboard/changeWeekDate',
            }),
            dateFormater(date){
                if (date != null && date != "") {
                    var today = new Date(date);
                    var dd = today.getDate();
                    var mm = today.getMonth()+1;
                    var yyyy = today.getFullYear();
                    var dateIssued = yyyy+'-'+mm+'-'+dd;
                    return dateIssued;
                }else {
                    return null;
                }
            },
            prev() {
                this.changeDate(this.date.subtract(1, 'y'))
            },
            next() {
                this.changeDate(this.date.add(1, 'y'))
            },
            now() {
                var now = moment()
                this.changeDate(now)
            }
        },
        mounted() {
            this.fetchFuelData({
                payload: {
                    date: moment().format('YYYY-MM-DD')
                }
            })
        }
    }
</script>
<style scoped>
    .card-body{
        padding-top: 10px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .card-footer{
        padding: 1px 1.2rem;
    }
    .panel.panel-blur{
        color: #000;
        background-color: rgba(127, 82, 116, 0.36);
    }
    .panelHeaderSecondary{
        border-bottom: 0 !important;
    }
    .subPanel{
        background-color: #fff !important;
        color: #000;
    }
    .headPanel{
        color: #fff !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
    .mechanicsTable>tbody>tr>td, .mechanicsTable>thead>tr>th{
        color: #0c0c0c !important;
    }
</style>