<template>
    <div class="content-page">
        <div class="content">
        <form @submit.prevent="submit">
            <div class="row">
                <div class="col-md-4 col-md-offset-3 m-t-20">
                    <div class="card-box p-0" style="background-color: rgb(6, 163, 21);">
                        <div class="profile-widget text-center" style="margin-top: 50px;">
                           <img src="img/logo.jpg" class="thumb-lg img-circle img-thumbnail" alt="img">
                            <router-link to="login"><h4 style="color: #e8f3ff;">Craft Silcon</h4></router-link>
                            <div class="row m-t-20">
                                <div class="col-md-12"> 
                                    <div class="form-group"> 
                                        <input type="email" v-model="email" style="margin-top: 8px !important;" class="form-control input-sm m-t-20 cleanShadow" placeholder="Email">
                                        <ul class="errors text-left text-danger" v-if="errors.email">
                                            {{ errors.email[0] }}
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                            <div class="row m-t-20">
                                <div class="col-xs-12 m-b-20">
                                    <button type="submit" class="btn btn-custom btn-sm btn-pink" :disabled="isSubmitting">
                                        <span v-if="isSubmitting"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                        <span v-else>Reset Password</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import { isEmpty } from 'lodash'

    export default {
        data () {
            return {
                email: null,
                isSubmitting: false,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                iforgot: 'auth/resetpassword'
            }),
            submit () {
                this.isSubmitting = true;
                this.errors = [];

                this.iforgot({
                    payload: {
                        email: this.email,
                    },
                    context: this
                }).then(() => {
                       this.isSubmitting = false;
                       
                       if (isEmpty(this.errors)) {
                           swal('Password Reset.', 'A new password has been sent to your email.!', 'success')

                           this.$router.replace({ name: 'login' })
                       }
                       
                })
            },
            back () {
                this.$router.push('login')
            },
        }
    }
</script>
<style scoped>
    .img-circle{
        border-radius: 5%;
    }
    .errors{
        list-style: none;
        padding-left: 0;
    }
    .bevel.tlbr{
        background: none !important;
        background-color: transparent !important;
    }
    .paper-wrap:before{
        border-style: none !important;
    }
    .navbar-static-top, .skin-select{
        display: none !important;
    }
</style>