<template>
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-md-4 col-md-offset-3 m-t-20">
                    <div class="card-box p-0">
                        <div class="profile-widget text-center" style="margin-top: 50px;">
                            <img src="img/logo.jpg" class="thumb-lg img-circle img-thumbnail" alt="img">
                            <h4>SafeBoda</h4>
                            <form @submit.prevent="submit">
                                 <div class="text-center text-danger" style="width: 100%;" v-if="errors.root">{{ errors.root }}</div>
                                <div class="row m-t-20">
                                    <div class="col-md-12"> 
                                        <div class="form-group"> 
                                            <input type="email" style="margin-top: 8px !important;" class="form-control input-sm m-t-20 cleanShadow" placeholder="Email" autofocus v-model="email">
                                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.email">
                                                <li class="parsley-required">{{ errors.email[0] }}</li>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div class="col-md-12"> 
                                        <div class="form-group">
                                            <input type="Password" v-model="password" style="margin-top: 8px !important;" class="form-control input-sm m-t-20 cleanShadow" placeholder="Password">
                                            <ul class="parsley-errors-list filled" id="parsley-id-4" v-if="errors.password">
                                                <li class="parsley-required">{{ errors.password[0] }}</li>
                                            </ul>
                                        </div> 
                                    </div>
                                </div>
                            <ul class="list-inline widget-list clearfix">
                                <li class="col-xs-5">
                                    <button type="submit" class="btn btn-sm btn-purple" :disabled="isSubmitting">
                                        <div v-if="isSubmitting"><i class="fa fa-spinner fa-spin fa-fw"></i></div>
                                        <div v-else>Login</div>
                                    </button>
                                </li>
                                <li class="col-xs-7">
                                    <router-link to="iforgot" class="btn btn-custom btn-sm btn-pink"> Forgot your password?</router-link>
                                </li>
                            </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import localforage from 'localforage'
    import { isEmpty } from 'lodash'

    export default {
        data () {
            return {
                email: null,
                password: null,
                isSubmitting: false,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/login'
            }),
            submit () {
                this.isSubmitting = true;
                this.login({
                    payload: {
                        email: this.email,
                        password: this.password,
                    },
                    context: this
                }).then(() => {
                    this.isSubmitting = false;
                    if (isEmpty(this.errors)) {
                        localforage.getItem('intended').then((name) => {
                            if (isEmpty(name)) {
                                this.$router.replace({ name: 'home' })
                                return
                            }
                            this.$router.replace({ name: name })
                        })
                    }
                })
            }
        }
    }
</script>
<style scoped>
    .img-circle{
        border-radius: 50%;
    }
    .errors{
        list-style: none;
        padding-left: 0;
    }
    .bevel.tlbr{
        background: none !important;
        background-color: transparent !important;
    }
    .paper-wrap:before{
        border-style: none !important;
    }
    .navbar-static-top, .skin-select{
        display: none !important;
    }
</style>
