<template>
    <div class="section section-pricing">
        <div class="parallax filter filter-color-black">
            <div class="image" style="
                background-image: url('/img/header-7.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1>Registration Form</h1>
                        <div class="separator line-separator">✻</div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <form class="form-horizontal m-t-20" @submit.prevent="submit">
                                    <div class="col-sm-12">
                                        <div class="card card-price card-black">
                                            <div class="content">
                                                <div class="col-sm-6" style="padding: 0 40px;">
                                                    <label><h4 class="text-gray">First name</h4></label>
                                                    <div class="form-group">
                                                        <input type="text" name="text" v-model="firstName" class="text-center form-control form-control-plain">
                                                        <ul class="errors text-left text-danger" v-if="errors.firstName">
                                                            {{ errors.firstName[0] }}
                                                        </ul>
                                                    </div>
                                                    <label><h4 class="text-gray">Gender</h4></label>
                                                    <div class="form-group">
                                                        <v-select label="value" v-model="gender" :options="genState"></v-select>
                                                        <ul class="errors text-left text-danger" v-if="errors.gender">
                                                            {{ errors.gender[0] }}
                                                        </ul>
                                                    </div>
                                                    <label><h4 class="text-gray">Username</h4></label>
                                                    <div class="form-group">
                                                         <input type="text" name="text" v-model="userName" class="text-center form-control form-control-plain">
                                                         <ul class="errors text-left text-danger" v-if="errors.userName">
                                                            {{ errors.userName[0] }}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" style="padding: 0 40px;">
                                                    <label><h4 class="text-gray">Last name</h4></label>
                                                    <div class="form-group">
                                                        <input type="text" name="text" v-model="lastName" class="text-center form-control form-control-plain">
                                                        <ul class="errors text-left text-danger" v-if="errors.lastName">
                                                            {{ errors.lastName[0] }}
                                                        </ul>
                                                    </div>
                                                    <label><h4 class="text-gray">Languages</h4></label>
                                                    <div class="form-group">
                                                        <v-select label="value" v-model="languages" :options="langState"></v-select>
                                                        <ul class="errors text-left text-danger" v-if="errors.languages">
                                                            {{ errors.languages[0] }}
                                                        </ul>
                                                    </div>
                                                    <label><h4 class="text-gray">Password</h4></label>
                                                    <div class="form-group">
                                                         <input type="password" name="password" v-model="password" class="text-center form-control form-control-plain">
                                                         <ul class="errors text-left text-danger" v-if="errors.password">
                                                            {{ errors.password[0] }}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="padding: 0 40px;">
                                                    <label><h4 class="text-gray">Email</h4></label>
                                                    <div class="form-group">
                                                         <input type="email" name="email" v-model="email" class="text-center form-control form-control-plain">
                                                         <ul class="errors text-left text-danger" v-if="errors.email">
                                                            {{ errors.email[0] }}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="text-gray info">
                                                        <button class="btn btn-danger btn-round btn-fill btn-wd">
                                                            Register
                                                        </button><br>
                                                        <router-link to="login"><em>I have an account?</em></router-link>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import localforage from 'localforage'
    import vSelect from "vue-select"
    import { isEmpty } from 'lodash'

    export default {
        components: {vSelect},
        data () {
            return {
                genState: ['Male', 'Female'],
                langState: ['Java', 'C', 'python'],
                firstName: null,
                lastName: null,
                email: null,
                gender: null,
                languages: null,
                password: null,
                userName: null,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },
        methods: {
            ...mapActions({
                register: 'auth/register'
            }),
            submit () {
                this.errors = [];

                this.register({
                    payload: {
                        firstName: this.firstName,
                        lastName: this.lastName,
                        email: this.email,
                        gender: this.gender,
                        languages: this.languages,
                        password: this.password,
                        userName: this.userName
                    },
                    context: this
                }).then(() => {
                    if (isEmpty(this.errors)) {
                        swal('Registerd!', 'Account has been registerd successfully!.', 'success')
                        this.firstName = "",
                        this.lastName = "",
                        this.email = "",
                        this.gender = "",
                        this.languages = "",
                        this.password = "",
                        this.userName = ""
                        this.$router.replace({ name: 'login' })
                    }
                })
            }
        }
    }
</script>
<style scoped>
    .form-control-plain{
        // width: 80% !important;
        margin: 0 auto;
    }
    .container > .content{
         margin-top: 0px; 
    }
    .form-horizontal .form-group {
         margin-right: 0px; 
         margin-left: 0px; 
    }
    h4, .h4{
        line-height: 0em;
    }
</style>
